* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

#box{
    height: 350px;
    width: 350px;
    background-color: black;
    border: 2px solid black;
    box-shadow: black 0px 0px 10px;
    border-radius: 10px;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: black 0px 0px 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

button:active{
    scale: 0.95; 
}