* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

#main {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 60px 650px 140px 450px 140px 400px 400px 500px;
    grid-template-areas: "header header header header"
                         "section1 section1 section1 section1"
                         "section2 section2 section2 section2"
                         "section3 section3 section3 section3"
                         "section4 section4 section4 section4"
                         "div1 div2 div3 div4"
                         "div5 div6 div7 div8"
                         "section5 section5 section5 section5";
}

header {
    background-color: white;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 24px;
    padding-bottom: 10px;
}

#centnav {
    display: flex;
    gap: 50px;
    font-size: 17px;
}

#centnav a {
    text-decoration: none;
    color: black;
}

#button1{
    color: blue;
    background-color: white;
    border: 2px solid blue;
    border-radius: 20px;
    padding: 5px 10px;

}

#button1:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

#button2{
    color: white;
    background-color: blue;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;

}

#button2:hover{
    background-color: white;
    color: blue;
    border: 2px solid blue;
    cursor: pointer;
    transition: all 0.3s ease;
}

#section1 {
    background-color: lightcoral;
    grid-area: section1;
}

#section2 {
    background-color: lightgreen;
    grid-area: section2;
}

#section3 {
    background-color: lightpink;
    grid-area: section3;
}  

#section4 {
    background-color: lightgray;
    grid-area: section4;
}

#div1 {
    background-color: orange;
    grid-area: div1;
}

#div2 {
    background-color: yellow;
    grid-area: div2;
}

#div3 {
    background-color: purple;
    grid-area: div3;
}

#div4 {
    background-color: brown;
    grid-area: div4;
}

#div5 {
    background-color: cyan;
    grid-area: div5;
}

#div6 {
    background-color: magenta;
    grid-area: div6;
}

#div7 {
    background-color: lime;
    grid-area: div7;
}

#div8 {
    background-color: navy;
    grid-area: div8;
}

#section5 {
    background-color: mediumorchid;
    grid-area: section5;
}