@font-face {
    font-family: apple;
    src: url(./sf-pro-display_regular.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: black;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    height: 50px;
    background-color: #2d2d2d;
}

#navbar a {
    color: white;
    text-decoration: none;
    color: white;
}

#navbar i {
    color: white;
}

img {
    background-image: url(./hero__bdntboqignj6_medium_2x.jpg);
    background-position: center;
    width: 97vw;
    height: 91vh;
}

#middlesection h4 {
    color: rgb(255, 112, 10);
    text-align: center;
    padding-top: 50px;
    font-size: 22px;
    padding-bottom: 15px;
}

#middlesection h2 {
    color: white;
    text-align: center;
    font-size: 70px;
    padding: 8px 30px ;
}

#middlesection p {
    color: rgba(255, 255, 255, 0.487);
    text-align: center;
    font-size: 20px;
}

button {
    color: white;
    background-color: rgba(255, 255, 255, 0.256);
    border: none;
    padding: 10px 25px ;
    border-radius: 50px;
    margin: 20px;
    margin-left: 42%;
    font-size: 15px;
    font-weight: 600;
}