*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: offwhite;
}

#header{
    height: 130px;
    width: 100%;
    background-color: rgb(55, 60, 93);
    margin-bottom: 20px;
}

#name{
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#occup{
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 5px;
}

#aboutCont{
    gap: 10px;
    margin: auto;
    background-color: lightgrey;
    height: auto;
    width: 900px;
    border-radius: 10px;
}

#about{
    font-weight: bold;
    text-decoration: emphasis;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    font-family: Helvetica, sans-serif;
    color: black;
    margin-bottom: 20px;
}

#desc{
    font-size: 18px;
    text-align: center;
    padding: auto;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-bottom: 20px;
}

#educationCont{
    gap: 10px;
    margin: auto;
    background-color: lightblue;
    height: auto;
    width: 900px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#education{
    font-weight: bold;
    text-decoration: emphasis;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    font-family: Helvetica, sans-serif;
    color: black;
    margin-bottom: 20px;
}

.educationCont1{
    background-color: white;
    margin: auto;
    height: auto;
    width: 800px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#college{
    font-weight: 700;
    font-style: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-bottom: 10px;
}

#school{
    font-weight: 700;
    font-style: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-bottom: 10px;
}

#skillsCont{
    gap: 10px;
    margin: auto;
    background-color: lightyellow;
    height: auto;
    width: 900px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#title{
    font-weight: bold;
    text-decoration: emphasis;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    font-family: Helvetica, sans-serif;
    color: black;
    margin-bottom: 20px;
}

.skillsCont1{
    background-color: white;
    margin: auto;
    height: auto;
    width: 800px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.skills{
    font-weight: 700;
    font-style: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-bottom: 10px;
}

#projectCont{
    gap: 10px;
    margin: auto;
    background-color: lavender;
    height: auto;
    width: 900px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#title2{
    font-weight: bold;
    text-decoration: emphasis;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    font-family: Helvetica, sans-serif;
    color: black;
    margin-bottom: 20px;
}

.projectCont1{
    background-color: white;
    margin: auto;
    height: auto;
    width: 800px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.project{
    font-weight: 700;
    font-style: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-bottom: 10px;
}

#contactCont{
    gap: 10px;
    margin: auto;
    background-color: lightgreen;
    height: auto;
    width: 900px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#title3{
    font-weight: bold;
    text-decoration: emphasis;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    font-family: Helvetica, sans-serif;
    color: black;
    margin-bottom: 20px;
}

.contactCont1{
    background-color: white;
    margin: auto;
    height: auto;
    width: 800px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.contact{
    font-weight: 700;
    font-style: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-bottom: 10px;
}

#footer{
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}