@font-face {
    font-family: onepiece;
    src: url(OnePiece-zAqL.ttf);
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    text-align: center;
    background-image: url(https://images.wallpapersden.com/image/download/monkey-d-luffy-one-piece-art_a2tmam6UmZqaraWkpJRoa2VlrWdlZWU.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
   
h1{
    padding-top: 100px;
    font-size: 80px;
    font-family: onepiece;
    color: red;
    text-decoration: underline white;
    font-weight: 400;
}

button{
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 300;
    background-color: skyblue;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button:hover{
        background-color: deepskyblue;
        cursor: pointer;
    }