*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: lightblue;
}

#main{
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 250px;
    padding: 20px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.352);
}

.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid lightgray;
}

.card h2{
    padding-top: 10px;
}

.card p{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.596);
}

.card button{
    padding: 10px 20px;
    border: 2px solid white;
    background-color: rgb(52, 204, 255);
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.card button:hover{
    background-color: transparent;
    color: rgb(52, 204, 255);
    border: 2px solid rgb(52, 204, 255);
}
