* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

.div{
    height: 100%;
    width: 100%;
    position: relative;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

:root{
    --x : 200px;
    --y : 200px;
}

#box{
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(180px at var(--x) var(--y), rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.95) 70%);
}