* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    padding: 20px;
    padding-bottom: 20px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    height: 300px;
    width: 250px;
    border-radius: 15px;
    cursor: pointer;
    background-color: lightblue;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.535);
}


.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bottom {
    height: 40%;
    width: 100%;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(transparent, black);
    position: absolute;
    bottom: -40%;
    transition: all 0.5s ease;
}

.card:hover .bottom {
    bottom: 0;
}

.bottom h4 {
    font-weight: 800;
    color: white;
    font-size: 23px;
}

.bottom h3 {
    border: 2px solid black;
    border-radius: 50%;
    background-color: black;
    padding: 50px, 50px;
}